:root {
    --blue: #133F8C;
    --golden: #C49A4C;
    --white: #FFFFFF;
    --off-white: #E8E6DD; 
    --light-gray: #F1F3F5;
    --gray: #333333;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Barlow', Helvetica;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: normal;
    background-color: var(--off-white);
}



/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--blue);
    box-shadow: 3px 3px 5px #00000050;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#logo-img {
    max-width: 100px;
}

.logo h1 {
    font-family: var(--font-secondary);
    font-size: 4rem;
    font-weight: 700;
    color: var(--off-white);
}



/* MAIN */

.btn-add {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em 1em;
    font-size: 1.25rem;
    border-radius: 30px;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, 0.1);
}

.btn-add:hover {
    background-color: #133F8C90;
    color: var(--white);
}

#main {
    position: relative;
    padding: 3em 1em;
}

.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
}

.card {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border: 1px solid var(--blue);
    transition: all .3s ease;
    width: 300px;
    height: 350px;
}

.card:hover {
    transform: translateY(-3px);
    border-color: var(--golden);
}

.book-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--blue);
}

.book {
    font-size: 5rem;
}

.book-title {
    font-size: 1.1rem;
}

.book-author {
    font-size: 1rem;
    color: var(--gray);
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

button.btn {
    font-size: 1.05rem;
    font-weight: 500;
    transition: all .3s ease;
}

.btn-read {
    color: var(--white);
    background-color: var(--golden);
}

.btn-read:hover {
    color: var(--white);
    background-color: var(--blue);
}

.btn-unread {
    color: var(--white);
    background-color: var(--blue);
}

.btn-unread:hover {
    color: var(--white);
    background-color: var(--golden);
}

.btn-remove {
    border: 1px solid var(--gray);
}

.btn-remove:hover {
    background-color: var(--golden);
    border-color: var(--golden);
    color: var(--white);
}



/* MODAL */

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1050;
}

.modal.active {
    display: flex;
}

.modal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 650px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--white);
}

.form-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    padding: 0.5em;
    color: var(--white);
    font-family: var(--font-secondary);
    font-size: 3rem;
    font-weight: 700;
    background-color: var(--blue);
}

.form-logo img {
    max-width: 100px;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    height: 100%;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em;
}

.input-row label {
    font-size: 1rem;
    font-weight: 500;
}

.input-row input {
    width: 300px;
    padding: 0.5em 1.5em;
    border: 1px solid var(--gray);
    outline: none;
    border-radius: 30px;
}

.input-row.last {
    justify-content: left;
    gap: 1em;
}

.input-row input[type="checkbox"] {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 0 2.5em 2em;
}

.form-actions .btn {
    padding: 0.5em;
    width: 50%;
    transition: all .3s ease;
}

.btn-cancel {
    border: 1px solid var(--light-gray);
    background-color: var(--light-gray);
}

.btn-cancel:hover {
    color: var(--light-gray);
    border-color: var(--gray);
    background-color: var(--gray);
}

.btn-form-add {
    color: var(--white);
    border: 1px solid var(--blue);
    background-color: var(--blue);
}

.btn-form-add:hover {
    color: var(--white);
    border-color: var(--golden);
    background-color: var(--golden);
}